.loader {
  border: 4px solid #152552;
  border-left-color: transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin89345 1s linear infinite;
}
.green {
  border: 4px solid #23af72;
  border-left-color: transparent;
}
@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
