.company {
  background: #ffffff;
  box-shadow: 0px 5px 10px #f1f2fa;
  border-radius: 6px;
  > h2 {
    text-align: center;
    font-weight: 600;
    font-size: 21px;
    color: #152552;
    padding: 15px 25px;
    border-bottom: 1px solid #dadada;
  }
  > .row {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    .svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      margin-right: 10px;
    }
    > .text {
      > h3 {
        font-weight: 500;
        font-size: 17px;
        color: #152552;
        margin-bottom: 6px;
      }
      > p {
        font-weight: 400;
        font-size: 13px;
        color: rgba(28, 31, 55, 0.5);
        display: flex;
      }
    }
  }
}
